// h1

.styled-h1 {
  @include ff-secondary;

  font-size: em(96);
  font-weight: $fw-secondary-normal;
  line-height: 1.2;
  letter-spacing: em(0.5);
  word-break: break-word;

  @include mq(xxlarge down) {
    font-size: em(72);
    letter-spacing: em(0.4);
  }

  @include mq(small down) {
    font-size: em(56);
    letter-spacing: em(0.3);
  }
}

.styled h1:not(.do-unstyle) {
  @extend .styled-h1;
}

// h2

.styled-h2 {
  @include ff-secondary;

  font-size: em(24);
  font-weight: $fw-secondary-normal;
  line-height: 1.2;
  letter-spacing: em(0.5);
  word-break: break-word;

  @include mq(xxlarge down) {
    font-size: em(20);
    letter-spacing: em(0.3);
  }
}

.styled h2:not(.do-unstyle) {
  @extend .styled-h2;
}
