// h1

.styled-h1 {
  font-size: em(36);
  font-weight: $fw-secondary-normal;
  line-height: 1.33;
  word-break: break-word;

  > span {
    @include ff-secondary;
    
    font-weight: $fw-secondary-normal;
  }

  @include mq(small down) {
    font-size: em(26);
    line-height: 1.44;
  }

  @include mq(xsmall down) {
    font-size: em(22);
  }
}

.styled h1:not(.do-unstyle) {
  @extend .styled-h1;
}

// h2

.styled-h2 {
  @include ff-secondary;

  font-size: em(28);
  font-weight: $fw-secondary-normal;
  line-height: 1.2;
  word-break: break-word;

  @include mq(small down) {
    font-size: em(22);
  }
}

.styled h2:not(.do-unstyle) {
  @extend .styled-h2;
}
