// p

.styled-p {
  font-size: em(18);
  line-height: 1.5;

  @include mq(small down) {
    font-size: em(14);
  }

  &.-lead {
    font-size: em(24);

    @include mq(small down) {
      font-size: em(18);
    }
  }
}

.styled p:not(.do-unstyle) {
  @extend .styled-p;
}
