@keyframes attention {
  9% {
    transform: none;
  }
  10% {
    transform: scale(1.13);
  }
  14% {
    transform: scale(0.87);
  }
  18% {
    transform: scale(1.11);
  }
  22% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.13);
  }
  54% {
    transform: scale(0.87);
  }
  60% {
    transform: scale(1.11);
  }
  64% {
    transform: scale(1);
  }
}

@keyframes svg_draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes svg_fade {
  0% {
    stroke-opacity: 1;
  }
  93% {
    stroke-opacity: 1;
  }
  100%{
    stroke-opacity: 0;
  }
}
