$color-white: #F2F2F2;
$color-ivory: #DDDDDD;

$color-black: #131419;
$color-metallic: #2A2B32;
$color-gray: #4A4A4A;
$color-gray--light: rgba($color-gray, 0.25);

$color-yellow: #FDD231;
$color-yellow--light: #FFDF67;
