html {
  font-size: 100%;
  font-family: $ff-primary;
  font-weight: $fw-primary-normal;
  color: $color-white;
  background-color: $color-black;
  background: linear-gradient(180deg, $color-black 0%, $color-metallic 100%);
  cursor: none;
}

button {
  background: transparent;
  // because `background-color: transparent` from `~sass-utils/src/all` is
  // converted to `background-color: initial` for some reason
}

a,
button {
  cursor: none;
}
