html {
  font-size: 100%;
  font-family: $ff-primary;
  font-weight: $fw-primary-normal;
  color: $color-black;
  background-color: $color-champagne;
  cursor: none;
  height: -webkit-fill-available;
}

body {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  min-height: -moz-available;
}

button {
  background: transparent;
  // because `background-color: transparent` from `~sass-utils/src/all` is
  // converted to `background-color: initial` for some reason
}

a,
button {
  cursor: none;
}
