$fonts: (
  // Inter
  (
    name: 'Inter',
    weight: 400,
    style: normal,
    file: 'Inter/Inter-Regular',
  ),
  (
    name: 'Inter',
    weight: 600,
    style: normal,
    file: 'Inter/Inter-Medium',
  ),
  // MonumentExtended
  (
    name: 'MonumentExtended',
    weight: 400,
    style: normal,
    file: 'MonumentExtended/MonumentExtended-Regular',
  ),
);

@each $item in $fonts {
  @font-face {
    font-family: map-get($item, 'name');
    font-style: map-get($item, 'style');
    font-weight: map-get($item, 'weight');
    src: url('../../fonts/#{$format}/#{unquote(map-get($item, 'file'))}.#{$format}') format('#{$format}');
  }

  // makes sure @font-faces aren't wiped out
  .ff#{unique-id()} {
    font-family: map-get($item, 'name');
  }
}
