$fonts: (
  // HK Grotesk
  (
    name: 'HK Grotesk',
    weight: 400,
    style: normal,
    file: 'HK Grotesk/HKGrotesk-Regular',
  ),
  // HK Grotesk Wide
  (
    name: 'HK Grotesk Wide',
    weight: 400,
    style: normal,
    file: 'HK Grotesk/HKGroteskWide-Regular',
  ),
);

@each $item in $fonts {
  @font-face {
    font-family: map-get($item, 'name');
    font-style: map-get($item, 'style');
    font-weight: map-get($item, 'weight');
    src: url('../../fonts/#{$format}/#{unquote(map-get($item, 'file'))}.#{$format}') format('#{$format}');
  }

  // makes sure @font-faces aren't wiped out
  .ff#{unique-id()} {
    font-family: map-get($item, 'name');
  }
}
